<div class="panel panel-default col-lg-6 col-sm-12">
    <div class="panel-heading">Busqueda</div>
    <div class="panel-body">
        <div class="panel panel-default col-lg-12">
            <div class="panel-heading">Criterios</div>
            <div class="panel-body">
                <form>
                    <div class="form-group col-lg-4">
                        <label for="name">Medicamento</label>
                        <input type="text" class="form-control" id="name" placeholder="Medicamento" required>
                    </div>

                    <div class="form-group col-lg-4">
                        <label for="codigoBarra">Código de barra</label>
                        <input type="text" class="form-control" id="codigoBarra" placeholder="Código de barra" required>
                    </div>
                    <div class="form-group col-lg-4">
                        <label for="codigo">Código corto</label>
                        <input type="text" class="form-control" id="codigo" placeholder="Código corto" required>
                    </div>

                    <button type="submit" class="btn btn-success">Submit</button>

                </form>
            </div>
        </div>
        <div class="panel panel-default col-lg-12">
            <div class="panel-heading">Resultados</div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table">
                        ...
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="panel panel-default col-lg-6 col-sm-12">
    <div class="panel-heading">Pedidos totales</div>
    <div class="panel-body">
        <div class="table-responsive">
            <table class="table">
                ...
            </table>
        </div>
    </div>
</div>